.home-container {
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 31px auto;

}


.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container{
    width: 500px;
    margin-top: 10px;
}



form input {
    width: 80%;
    height: 40px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    border-top-left-radius:0 ;
    border-bottom-left-radius:0;
    padding: 0 24px;
    margin-left: 0;
  }
  
  form textarea {
    width: 100%;
    min-height: 140px;
    resize: vertical;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 16px 24px;
    line-height: 24px;
  }
  
  .submit-button {
    margin-top: 10px;
    float: right;
    width: 35%;
    height: 40px;
    background: #0081ad;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    margin-top: 16px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    line-height: 30px;
    transition: filter 0.2s;
  }
  
  .submit-button:hover {
    filter: brightness(90%);
  }

  .visual-button{
    float: left;
    margin-right: 0px;
    border: 1px solid #dcdce6;
    background: #dcdce6;
    border-radius: 8px;
    border-top-right-radius:0 ;
    border-bottom-right-radius:0;
    height: 40px;
    width: 20%;
    pointer-events: none;
    color: #333;
    font: 500 18px Roboto, sans-serif;
    
}

